# Secrets / Environnement
.env
.env.local
.env.*.local
!.env.example

# Node.js
node_modules/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Next.js
.next/
tsconfig.tsbuildinfo

# Build
dist/
build/
